@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --main-color: #009540;
    --primary-color: #ffffff;
    --bg-color: #f6f8fb;
    --hover: #5a4d3e;
    --black:#222;
    --white:#fff;
    --border:.1rem solid #ffffff;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    transition: all 0.4s cubic-bezier(.43,1.1,.62,1.08);
    text-transform: capitalize;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background-color: var(--white);
}

html::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

section{
    padding: 2rem 7%;
}

.heading{
    text-align: center;
    color: var(--main-color);
    margin-bottom: 3rem;
    font-size: 4rem;
    margin-top: 4rem;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    background: var(--main-color);
    border: var(--main-color);
    color: var(--white);
    font-size: 2rem;
    cursor: pointer;
    padding: 1rem 3rem;
}

.btn:hover{
    background: var(--hover);
}

/* header */

.header{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    position: sticky;
    top: 0;
    left: 0; right: 0;
    background: var(--primary-color);
    z-index: 1000;
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .logo i{
    color: var(--main-color);
    padding-right: .5rem;
}

.header .navbar a{
    font-size: 2rem;
    margin-left: 2.8rem;
    color: var(--black);
}

.header .navbar a:hover{
    padding-bottom: .5rem;
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
}

#menu-btn{
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--black);
    display: none;
}

/*precios*/

#price-table {
    margin-top: -20px;
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;
  }
  
  #price-table th,
  #price-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }

  
  #price-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #price-table th {
    background-color: #009540;
    color: white;
  }


/* home */

@keyframes fadeIn{
    0%{
        transform: translateY(-4rem) scale(0);
        opacity: 0;
    }
}

.home{
    padding: 0;
}

.home .slide{
    min-height: 65vh;
    background-size:cover !important;
    background-position: center ;
    display: flex;
    align-items: center;
}

.home .slide .content{
    text-align: center;
    padding-left: 80%;
    display: none;
}

.home .slide .content .texto{
margin-left: -30%;
margin-right: 30%;
}


.home .slide .content h3{
    font-size: 4.5rem;
    text-transform: uppercase;
    color: var(--primary-color);
    line-height: 1;
    padding: 2rem 0;
    animation: fadeIn 0.4s cubic-bezier(.54,1.3,.63,1.34) .2s backwards;
}

.home .slide .content .btn{
    animation: fadeIn 0.4s cubic-bezier(.54,1.3,.63,1.34) .4s backwards;
}

.home .swiper-slide-active .content{
    display: inline-block;
}

.swiper-button-next,
.swiper-button-prev{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;

    color: var(--black);
}
.swiper-button-next:hover,
.swiper-button-prev:hover{
    height: 4rem;
    width: 4rem;
    line-height: 5rem;
    background: var(--white);
    color: var(--black);
}




.swiper-button-next:hover,
.swiper-button-prev:hover{
    background: var(--main-color);
    color: var(--white);
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 2rem;
}

/* about us */

.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about .row .image{
    flex: 1 1 37rem;
    
   

}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex: 1 1 51rem;
    padding: 8rem;
}

.about .row .content h3{
    font-size: 3.5rem;
    color: var(--main-color);
    padding: 2rem 0;
}

.about .row .content p{
    font-size: 1.6rem;
    color: #444;
    padding: 1rem 0;
    line-height: 1.8;
}

/* menu */

.menu{
    background: var(--bg-color);
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box .image{
    height: 20rem;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.menu .box-container .box .image img{
    object-fit: cover;
}

.menu .box-container .box .content{
    padding: 1.5rem;
    text-align: center;
}

.menu .box-container .box .title{
    font-size: 2.5rem;
    color: var(--main-color);
}

.menu .box-container .box  p{
    font-size: 12px;
    line-height: 1.5;
    color: #212121;
    padding: 0.1rem 0;
}

.menu .box-container .box .content .price{
    color: var(--main-color);
    font-size: 2.5rem;
    padding: .5rem 0;
}

.menu .box-container .box .content .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

/* gallery */

.gallery .gallery-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.gallery .gallery-container .box{
    height: 90%;
    position: relative;
    overflow: hidden;
    
}

.gallery .gallery-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery .gallery-container .box:hover img{
    transform: scale(1.1);
}

.gallery .gallery-container .box .icon{
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0; left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.7);
    display: none;
}

.gallery .gallery-container .box .icon i{
    font-size: 6rem;
    color: var(--white);
}

.gallery .gallery-container .box:hover .icon{
    display: flex;
}

/* reviews */

.reviews{
    background-color: var(--bg-color);
}

.reviews .slide{
    text-align: center;
}

.reviews .slide p{
    font-size: 1.5rem;
    line-height: 2;
    color: #a6a9ab;
    position: relative;
    background: var(--primary-color);
    border: 0.1rem solid var(--main-color);
    margin-bottom: 3rem;
    padding: 2rem;
}

.reviews .slide p::before{
    content: '';
    position: absolute;
    bottom: -1.2rem;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    background: var(--primary-color);
    border-bottom: 0.1rem solid var(--main-color);
    border-right: 0.1rem solid var(--main-color);
    height: 2rem;
    width: 2rem;
}

.reviews .slide img{
    height: 1vh;
    width: 1vh;
    border-radius: 30%;
}

.reviews .slide h3{
    font-size: 2.2rem;
    color: var(--black);
    padding: .5rem 0;
}

.reviews .slide .stars{
    font-size: 1.2rem;
    color: var(--main-color);
    margin-bottom: 3rem;
}

.swiper-pagination-bullet-active{
    background: var(--main-color);
}

/* order */

.order form{
    padding: 2rem;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
}

.order form .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.order form .box-container .box{
    flex: 1 1 41rem;
}

.order form .box-container .box .inputBox input,
.order form .box-container .box .inputBox textarea{
    width: 100%;
    margin: 1rem 0;
    padding: 1.2rem 1.4rem;
    font-size: 1.7rem;
    color: var(--black);
    border: var(--border);
}

.order form .box-container .box .inputBox input::placeholder,
.order form .box-container .box .inputBox textarea::placeholder{
    text-transform: capitalize;
}

.order form .box-container .box .inputBox input:focus,
.order form .box-container .box .inputBox textarea:focus{
    outline: none; /* Elimina el borde azul que aparece al enfocar */
  /* Otros estilos que desees restablecer o aplicar */
  background-color: initial;
  border: initial;
  color: initial;
}

.order form .box-container .box .inputBox input:focus::placeholder,
.order form .box-container .box .inputBox textarea:focus::placeholder{
    color: #ccc;
}

.order form .box-container .box .inputBox textarea{
    height: 20rem;
    resize: none;
}

.order form .box-container .box .inputBox .map{
    height: 20rem;
    width: 100%;
    margin: 1rem 0;
    border: none;
}

.order form .box-container .box .inputBox span{
    color: var(--main-color);
    font-size: 2rem;
}


/*monedero*/
.card{
    position: relative;
    width: 510px;
    height: 310px;
    transform-style: preserve-3d ;
    perspective: 500px;
}

.card .face{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 15px 35px #000000;
    border-radius: 17px;
    background-color: #009540;
    backdrop-filter: blur(12px);
    transition: 1s;
    backface-visibility: hidden;
}

.card .face.front::before{
    content: '';
    position: absolute;
    bottom: 40px;
    right: 40px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    opacity: 0.7;
}

.card .face.front .bank{
position: absolute;
right: 40px;
top: 25px;
color :#fff;
font-size: 24px;

}



/*FACT */
.fact{
    padding: 0;
}

.fact .slide{
    min-height: 55vh;
    background-size:cover !important;
    background-position: center ;
    display: flex;
    align-items: center;
}

.fact .slide .content{
    text-align: center;
    padding-left: 80%;
    display: none;
}

.fact .slide .content .texto{
margin-left: -30%;
margin-right: 30%;
}


.fact .slide .content h3{
    font-size: 4.5rem;
    text-transform: uppercase;
    color: var(--primary-color);
    line-height: 1;
    padding: 2rem 0;
    animation: fadeIn 0.4s cubic-bezier(.54,1.3,.63,1.34) .2s backwards;
}

.fact .slide .content .btn{
    animation: fadeIn 0.4s cubic-bezier(.54,1.3,.63,1.34) .4s backwards;
}

.fact .swiper-slide-active .content{
    display: inline-block;
}

/* footer */

.footer{
    background: url(../images/footer.png);
    margin-top: 2rem;
    text-align: center;
}

.footer .icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.footer .icons-container .icons{
    text-align: center;
    padding: 3rem 2rem;
}

.footer .icons-container .icons i{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background: var(--main-color);
    color: var(--white);
    margin-bottom: .5rem;
    line-height: 5.8rem;
    font-size: 2rem;
}

.footer .icons-container .icons h3{
    font-size: 2rem;
    color: var(--black);
    padding: 1rem 0;
    text-transform: capitalize;
}

.footer .icons-container .icons p{
    line-height: 1.5;
    font-size: 1.7rem;
    color: #a6a9ab;
    text-transform: capitalize;
}

.footer .icons-container .icons .link{
    font-size: 1.7rem;
    line-height: 2rem;
    color: var(--main-color);
    padding: .5rem 0;
    display: block;
}

.footer .icons-container .icons .link:hover{
    color: var(--hover);
    text-decoration: underline;
}

.footer .share{
    margin: 2rem 0;
}

.footer .share a{
    height: 6rem;
    width: 6rem;
    line-height: 5.8rem;
    color: var(--white);
    background: var(--main-color);
    margin: 0 .3rem;
    font-size: 2.5rem;
}

.footer .share a:hover{
    background: var(--hover);
}

.footer .credit{
    margin-top: 3rem;
    padding-top: 3rem;
    font-size: 2rem;
    color: var(--black);
    border-top: var(--border);
}

.footer .credit span{
    color: var(--main-color);
}



/* media queries */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    section{
        padding: 3rem 2rem;
    }

    .home .slide .content{
        text-align: left;
        width: 50rem;
        padding-left: 9rem;
    }
    .home .slide .content .texto{
        margin-left: 0%;
        margin-right: 10%;
        }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .fa-times{
        transform: rotate(180deg);
    }

    .header .navbar{
        position: absolute;
        top: 99%; left: 0; right: 0;
        background-color: var(--white);
        border-top: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a{
        display: block;
        margin: 2rem;
    }

    .home .slide .content{
        text-align: left;
        width: 40rem;
        padding-left: 9rem;
    }

    .home .slide .content h3{
        color: var(--main-color);
        font-size: 4rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .home .slide .content h3{
        color: var(--main-color);
        font-size: 3rem;
    }

}